[tools]
carapace = "1.5"
atuin = "18.11.0"
zoxide = "0.9.8"
starship = "1.24.2"

[tools."github:twpayne/chezmoi"]
version = "2.69.3"
[tools."github:twpayne/chezmoi".platforms]
linux-x64 = { asset_pattern = "chezmoi_{version}_linux-musl_amd64.tar.gz" }

[tasks.apply-dotfiles]
run = '''
# nushell
mise activate nu > dot_config/nushell/completions/_mise.nu
zoxide init nushell > dot_config/nushell/completions/_zoxide.nu
atuin init nu --disable-up-arrow > dot_config/nushell/completions/_atuin.nu
starship init nu > dot_config/nushell/completions/_starship.nu
carapace _carapace nushell > dot_config/nushell/completions/_carapace.nu

# apply dotfiles
chezmoi apply
'''

[tasks.use-starship]
run = '''
cp assets/starship/gruvbox-rainbow.toml dot_config/starship.toml
'''
